<h3>Details of post</h3><br />
<p>
  <i><b><%= @row['author'] %></b></i>
  <br /><br />
  <i><%= @row['content'] %></i>
  <br />
  <span style="font-size: 75%; color: #999"> <%= @row['created_date'] %></span>
  <br /><br />
</p>


<form action="/index/<%= @row['id'] %>" method="POST">
  <textarea name="comment" class="form-control" placeholder="Enter comment here" rows="6"></textarea><br />
  <button type="submit" class="btn btn-primary">Submit</button>

</form>