<h3>Add new post</h3>
<form>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Enter post here" rows="6"></textarea><br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>